	<div id="hero" class="jumbotron">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>HACKEANDO LAS MATEMÁTICAS</h1>
            <p class="subtitle">Tarefa es una nueva herramienta educativa para que no quedes atascados en tus problemas de matemáticas, contamos con cientos de profesionales validados por Tarefa que solucionaran todas tus preguntas</p>      
          </div>
        </div>  

         

      </div>
    </div><!-- /#hero -->	
<br></br>
    <div class="container">

					<div class="row center">
						<div class="col-md-12">
							<h2 class="short word-rotator-title">
								¿Como Funciona?
							</h2>

						</div>
					</div>

				</div>

<div class="container">

					<div class="row featured-boxes">
						<div class="col-md-3">
							<div class="featured-box featured-box-primary">
								<div class="box-content">
									<i class="icon-featured icon icon-user"><%= image_tag "google_how.png" %></i>
									<h4>Ingresa</h4>
									<p>Ingresa a www.tarefa.co</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="featured-box featured-box-secundary">
								<div class="box-content">
									<i class="icon-featured icon icon-book"><%= image_tag "question_how.png" %></i>
									<h4>Pregunta</h4>
									<p>Realiza tu Pregunta</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="featured-box featured-box-tertiary">
								<div class="box-content">
									<i class="icon-featured icon icon-trophy"><%= image_tag "mail_how.png" %></i>
									<h4>Mail</h4>
									<p>Dejanos tu correo</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="featured-box featured-box-quartenary">
								<div class="box-content">
									<i class="icon-featured icon icon-cogs"><%= image_tag "tick_mark_how.png" %></i>
									<h4>Respuesta</h4>
									<p>Recibe tu respuesta</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="container">

					<h2><strong>Tarefa Pro</strong></h2>

					<div class="row">
						<div class="col-md-12">
							<p class="lead">
								Encuentra respuestas confiables a tus ejercicios de matemáticas hechos por profesionales validados por Tarefa, paga tus paquetes de preguntas con el método
								pago en línea más seguro de América Latina, confiable, seguro y fácil.
							</p>
						</div>
					</div>

					<hr class="tall" />

					

					<div class="row">

						<div class="pricing-table">
							<div class="col-md-3">
								<div class="plan">
									<h3><span>FREE</span></h3>

									<% if current_user %>
                   				 <%=  link_to 'Probar' , new_user_registration_path, class:"btn btn-lg btn-primary" %>
                  <% else %>
                    <%= link_to 'probar',new_user_registration_path,class:"btn btn-lg btn-primary"  %>
                  <% end %>


									  
									<ul>
										<li><b>3</b> Preguntas</li>
										<li> Vigencia un mes </li>
										<li> . </li>
										<li> . </li>
										<li> . </li>
										
									</ul>
								</div>
							</div>
							<div class="col-md-3 center">
								<div class="plan most-popular">
									<div class="plan-ribbon-wrapper"><div class="plan-ribbon">Popular</div></div>
									<h3>300 Preguntas<span>$80</span></h3>
									<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img_botones_herramientas/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="merchantId" type="hidden" value="506207"/>
  <input name="accountId" type="hidden" value="507201"/>
  <input name="description" type="hidden" value="Plan 1"/>
  <input name="referenceCode" type="hidden" value="1"/>
  <input name="amount" type="hidden" value="150000"/>
  <input name="tax" type="hidden" value="0"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
<input name="shipmentValue" value="0" type="hidden"/>
  <input name="currency" type="hidden" value="COP"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="1cfbb1b7e753acc6af8ee5c61b47ba26d2786a8f952026d76529172ee5ae98ad" type="hidden"/>
</form>
									<ul>
										<li><b>300</b> Preguntas</li>
										<li> Acceso 7/24</li>
										<li> Acceso Ilimitado</li>
										<li> Vigencia tres mes</li>
										<li> *Precios en dolares</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="plan">
									<h3>120 Preguntas<span>$30</span></h3>
									<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img_botones_herramientas/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="merchantId" type="hidden" value="506207"/>
  <input name="accountId" type="hidden" value="507201"/>
  <input name="description" type="hidden" value="Plan 2"/>
  <input name="referenceCode" type="hidden" value="2"/>
  <input name="amount" type="hidden" value="60000"/>
  <input name="tax" type="hidden" value="0"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
<input name="shipmentValue" value="0" type="hidden"/>
  <input name="currency" type="hidden" value="COP"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="874c333af8eb29003a8135b5fc285834373ba32d1d1ed2795a5500040e0518b7" type="hidden"/>
</form>
									<ul>
										<li><b>120</b> Preguntas</li>
										<li> Acceso 7/24</li>
										<li> Acceso Ilimitado</li>
										<li> Vigencia un mes</li>
										<li> *Precios en dolares</li>
										
										

									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="plan">
									<h3>900 Preguntas<span>$160</span></h3>
									<form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul">
  <input type="image" border="0" alt="" src="http://www.payulatam.com/img_botones_herramientas/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
  <input name="merchantId" type="hidden" value="506207"/>
  <input name="accountId" type="hidden" value="507201"/>
  <input name="description" type="hidden" value="Plan 3"/>
  <input name="referenceCode" type="hidden" value="3"/>
  <input name="amount" type="hidden" value="300000"/>
  <input name="tax" type="hidden" value="0"/>
  <input name="taxReturnBase" type="hidden" value="0"/>
<input name="shipmentValue" value="0" type="hidden"/>
  <input name="currency" type="hidden" value="COP"/>
  <input name="lng" type="hidden" value="es"/>
  <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
  <input name="buttonType" value="SIMPLE" type="hidden"/>
  <input name="signature" value="f203d4aca6986b008e4f8e955ec07a354bd73942dde551eefbe804b0baa42822" type="hidden"/>
</form>
									<ul>
										<li><b>900</b> Preguntas</li>
										<li> Acceso 7/24</li>
										<li> Acceso Ilimitado</li>
										<li> Vigencia seis meses</li>
										<li> *Precios en dolares</li>
									</ul>
								</div>
							</div>
						</div>

					</div>


				


