<!-- Paga title -->
    <div class="main-header">
      <div class="container">
        <!-- <div class="row">
          <div class="col-sm-8 col-lg-8">
            <h1>Knowledge Base</h1>
            <p class="tagline">Find answers and help fast</p>
          </div>
          <div class="col-sm-4 col-lg-4">
            <form role="search" method="get" id="searchform" class="form-search" action="#">
              <div class="append-icon">
                <input type="text" value="" name="s" id="autocomplete-dynamic" class="form-control input-lg" autocomplete="off" placeholder="Enter search term here.">
                <span><i class="icon-search"></i></span>
              </div>
            </form>
          </div>
        </div> -->
      </div>
    </div>

<div class="wrap container" role="document">
      <div class="content row">
        <div class="main col-sm-9" role="main">
          <div class="page-header">
          <h2>Editar <%= resource_name.to_s.humanize %></h2>
          </div>
          <div class="page-main">
            <!-- <p>There are many variations of passages of Lorem Ipsum available, but have suffered alteration in some form, by injected humour, or randomised words which don&#8217;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#8217;t anything embarrassing hidden in the middle of text</p> -->
            <p>&nbsp;</p>

              <div id="messageDiv"></div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div class="form-group"><%= f.label :ciudad %><br />
  <%= f.text_field :location %></div>

  <div class="form-group"><%= f.label :description %><br />
  <%= f.text_area :description %></div>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="form-group"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div class="form-group"><%= f.submit "Update", class: 'btn btn-primary'%></div>
<% end %>

<!-- <h3>Cancelar mi cuenta</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete  %></p> -->

<%= link_to "Back", :back %>





<!-- 
              
              <form action="contact.php" id="contactForm" method="post">
                <fieldset>
                  <div class="form-group" id="contactNameCt">
                      <label for="contactName" class="dis_lbl">Name</label>
                      <label for="contactName" id="contactNameError" class="error error_lbl"></label>
                      <input type="text" name="contactName" id="contactName"  class="required requiredField form-control" />
                  </div>

                  <div class="form-group" id="emailCt">
                      <label for="email" class="dis_lbl">Email</label>
                      <label for="email" id="emailError" class="error error_lbl"></label>
                      <input type="text" name="email" id="email"  class="required requiredField email form-control" />
                  </div>
                  
                  <div class="form-group" id="commentsCt">
                      <label class="textarea dis_lbl" for="commentsText">Message</label>
                      <label class="error error_lbl" id="commentsError" for="commentsText"></label>
                      <textarea name="comments" id="comments1" rows="7" cols="30" class="required requiredField form-control" ></textarea>
                  </div>
                    
                  <input type="hidden" name="submitted" id="submitted" value="true" />
                  <input type="button" id="submit_btn" value="Send Email" class="btn btn-primary" />
                </fieldset>
              </form> -->


          </div>
        </div>

     
      </div>
    </div><!-- /.content -->




