<h1>Listing admin_questions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_questions.each do |admin_question| %>
      <tr>
        <td><%= admin_question.content %></td>
        <td><%= admin_question.answer %></td>
        <td><%= link_to 'Show', admin_question_path(admin_question) %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(admin_question) %></td>
        <td><%= link_to 'Destroy', admin_question_path(admin_question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_admin_question_path %>
