<div id="hero" class="hero-image">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>Problemas con las Matemáticas</h1>
            <p class="subtitle">Recibe orientación de tus preguntas por parte de profesionales reales y totalmente gratis</p>      
          </div>
        </div>  

        <div class="row">
          <div class="hero-box col-sm-8 col-sm-offset-2">
            <%= form_for(:question, role: "search", html: {class: "form-search", id:"searchform"}) do |f| %>
              <div class="input-group">
                <%= f.text_field :content, class: "form-control input-lg", id: "autocomplete-dynamic", placeholder: "Encuentra ayuda! Escribe tu pregunta aquí." %>
                <span class="input-group-btn">
                  <%= f.submit "preguntar", :class => "btn"  %>
<!--                   <%= link_to 'Preguntar',new_user_registration_path, class: 'btn' %>
 -->                </span>
              </div>
            <% end %>

            <form role="search" method="get" id="searchform" class="form-search" action="#">
              <div class="input-group">
                <input type="text" id="autocomplete-dynamic" name="s" id="s" class="form-control input-lg" autocomplete="off" placeholder="Encuentra ayuda! Escribe tu pregunta aquí.">
                <span class="input-group-btn">
                  <%= link_to 'Preguntar',new_user_registration_path, class: 'btn' %>
                </span>
              </div>
            </form>
          </div>   
        </div>  

      </div>
    </div><!-- /#hero -->

<div class="container">
      <div id="boxes">
        <div class="home-title">
          <h2>Ahora estudiar es más fácil</h2>
          <p></p>        </div>
          <div class="row">
            <div class="col-sm-4">
              <article class="box box-left">
                <div class="circle">
                  <a href="knowledgebase.html"><span></span><img src="/assets/respon.png"></img></a>
                </div>
                <h3><a>Preguntas donde quieras</a></h3>
                <p>Haz tus preguntas desde tu computador, smartphone o tablet. </p>
               <!--  <a class="btn" href="knowledgebase.html">Continue</a> -->
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-middle">
                <div class="circle">
                  <a><span></span><img src="/assets/person.png"></img></a>
                </div>
                <h3><a>Profesionales</a></h3>
                <p>Profesores verificados por tarefa contestáran tus preguntas, respuestas 100% confiables.</p>
               <!--  <a class="btn" href="faq-accordion.html">Continue</a> -->
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-right">
                <div class="circle">
                  <a ><span></span><img src="/assets/star.png"></img></a>
                </div>
                <h3><a >Confiable</a></h3>
                <p>Encuentra todas las respuestas elaboradas por profesionales reales </p>
               <!--  <a class="btn" href="contact.html">Continue</a> -->
              </article>
            </div>
        </div>
      </div>
    </div>


