<div id="hero" class="jumbotron">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>¿Problemas con las Matemáticas?</h1>
            <p class="subtitle">Recibe orientación de tus problemas de matemáticas por parte de profesionales reales y totalmente gratis</p>      
          </div>
        </div>  

        <div class="row">
          <div class="hero-box col-sm-8 col-sm-offset-2">
            <%= form_for(@question, role: "search", html: {class: "form-search", id:"searchform"}) do |f| %>
              <div class="input-group">
                <%= f.text_field :content, class: "form-control input-lg", id: "autocomplete-dynamic", placeholder: "Escribe tu pregunta, ejemplo: ¿ Cuánto es 2+2 ?" %>
                <span class="input-group-btn">
                  <% if current_user %>
                    <%= f.submit "Preguntar", :class => "btn" %>
                  <% else %>
                    <%= link_to 'Preguntar',new_user_registration_path, class: 'btn' %>
                  <% end %>
              </span>
              </div>
            <% end %>

           
          </div>   
        </div>  

      </div>
    </div><!-- /#hero -->

<div class="container">
      <div id="boxes">
        <div class="home-title">
          <h2>Ahora estudiar es más fácil</h2>
          <p></p>        </div>
          <div class="row">
            <div class="col-sm-4">
              <article class="box box-left">
                <div class="circle">
                  <span></span><%= image_tag "respon.png" %>
                </div>
                <h3><a>Donde quieras</a></h3>
                <p>Haz tus preguntas desde tu computador, smartphone o tablet. </p>
               <!--  <a class="btn" href="knowledgebase.html">Continue</a> -->
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-middle">
                <div class="circle">
                  <a><span></span><%= image_tag "person.png" %></a>
                </div>
                <h3><a>Profesionales</a></h3>
                <p>Profesores verificados por tarefa contestáran tus preguntas, respuestas 100% confiables.</p>
               <!--  <a class="btn" href="faq-accordion.html">Continue</a> -->
              </article>
            </div>
            <div class="col-sm-4">
              <article class="box box-right">
                <div class="circle">
                  <a ><span></span><%= image_tag "star.png" %></a>
                </div>
                <h3><a >Confiable</a></h3>
                <p>Encuentra todas las respuestas elaboradas por profesionales reales </p>
               <!--  <a class="btn" href="contact.html">Continue</a> -->
              </article>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
        <h2>Lo que dicen los usuarios de Tarefa</h2>
          <div class="row">
              <div class="col-sm-4"><blockquote class="twitter-tweet" lang="es"><p>si tienen problemas con sus tareas de matemáticas o física pues fácil sigan a <a href="https://twitter.com/tarefasimple">@tarefasimple</a> aquí se resuelve todo</p>&mdash; Ricardo Cano (@RCano03) <a href="https://twitter.com/RCano03/status/501223425193828352">agosto 18, 2014</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
              
              <div class="col-sm-4"><blockquote class="twitter-tweet" data-conversation="none" lang="es"><p><a href="https://twitter.com/tarefasimple">@tarefasimple</a> Muchas gracias.</p>&mdash; A r l e t h♡ (@ArlethVG) <a href="https://twitter.com/ArlethVG/status/494308129316687872">julio 30, 2014</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
              
              <div class="col-sm-4">

                <blockquote class="twitter-tweet" data-conversation="none" lang="es"><p><a href="https://twitter.com/tarefasimple">@tarefasimple</a> mil mil gracias!</p>&mdash; Luz Stringaro (@LuliStringaro1) <a href="https://twitter.com/LuliStringaro1/status/491845420948406272">julio 23, 2014</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>

</div>
</div>
<br></br>
<div class="container">

  <div class="home-title">
          <h2>Nuestros Aliados</h2>
          <p></p>        </div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>

   <div class="col-sm-2"><a href="http://worldtechmakers.com/#impact-2" target="_blank"><%= image_tag "wtm2.png", html: {class:"img-rounded"}%></a></div>
   <div class="col-sm-2"><a href="http://www.todosporlaeducacion.co/col/" target="_blank"><%= image_tag "logote.png", html: {class:"img-rounded"}%></a></div>
   
    
 
</div>
</div>
<br></br>

   <!--  <div class="row center">
            <div class="col-md-12">
              <h2 class="short word-rotator-title">
                We're not the only ones
                <strong>
                  <span class="word-rotate">
                    <span class="word-rotate-items">
                      <span>excited</span>
                      <span>happy</span>
                    </span>
                  </span>
                </strong>
                about Porto Template...
              </h2>
              <h4 class="lead tall">5,500 customers in 100 countries use Porto Template. Meet our customers.</h4>
            </div>
          </div>

    <div class="row center">
            <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'>
              <div>
                <img class="img-responsive" src="img/logos/logo-1.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-2.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-3.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-4.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-5.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-6.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-4.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-2.png" alt="">
              </div>
            </div>
          </div>
 -->

